.home{
    margin-top: 15px;
}
.post{
    width:35%;
    margin:auto;
    padding: 7px 15px;
    margin-bottom: 13px;

}
.Post__img{
    margin-bottom: 7px;
}
.Post__img img{
    width:100%;
    height:250px;
}

